# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Infrastructure & Environments
.env
.venv
venv/
ENV/

# Airflow
logs/
airflow_logs/
*.log
airflow.db
webserver_config.py
unittests.cfg

# MLflow & Data
mlflow_data/
mlruns/
model_features.pkl
*.csv
/tmp/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker_temp/
